@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.welcome {
  font-size: 30px;
}

.header{
height: 50vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.box {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
  height: 64vh;
}
