@tailwind base;
@tailwind components;
@tailwind utilities;



.welcome {
  font-size: 30px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.box {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
